		/* Page basic styles */
		
		html {
			font: 0.9em/1.2 Helvetica, Arial, 'Sans serif';
		}
		html * {
			box-sizing: border-box;
		}
		body {
			margin: 0;
			padding: 0;
		}
		
		body.no-select * {
			-webkit-user-select: none;
			   -moz-user-select: none; 
				-ms-user-select: none; 
				 -o-user-select: none;
					user-select: none;  
		}
		
		/*.menu {
			position: fixed;
			top: 5px;
			left: 5px;
			padding: 5px;
			background: rgba(255,255,255,0.9);
			border: 1px solid #000;
			cursor:move;
			z-index: 3;
		}*/
		header {
			width: 100%;
			overflow: hidden;
			border-bottom: 1px solid #000;
			position: fixed;
			top: 0;
			z-index: 999;
		}
		header section {
			width: 100%;
			height: 320px;
			overflow: auto;
		}
		header section .scrollable {
			min-width: 960px;
		}
		header nav {
			height: 30px;
			position: relative;
			border-top: 1px solid #000;
			background: rgb(63,63,63); /* Old browsers */
			background: -moz-linear-gradient(top,  rgba(63,63,63,1) 0%, rgba(88,88,88,1) 50%, rgba(80,80,80,1) 51%, rgba(122,122,122,1) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(63,63,63,1)), color-stop(50%,rgba(88,88,88,1)), color-stop(51%,rgba(80,80,80,1)), color-stop(100%,rgba(122,122,122,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(63,63,63,1) 0%,rgba(88,88,88,1) 50%,rgba(80,80,80,1) 51%,rgba(122,122,122,1) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(63,63,63,1) 0%,rgba(88,88,88,1) 50%,rgba(80,80,80,1) 51%,rgba(122,122,122,1) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(63,63,63,1) 0%,rgba(88,88,88,1) 50%,rgba(80,80,80,1) 51%,rgba(122,122,122,1) 100%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(63,63,63,1) 0%,rgba(88,88,88,1) 50%,rgba(80,80,80,1) 51%,rgba(122,122,122,1) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f3f3f', endColorstr='#7a7a7a',GradientType=0 ); /* IE6-9 */
		}
		header nav .wrapper {
			max-width: 1020px;
			margin: 0 auto;
			height: 100%;
		}
		header nav .wrapper .shortcut {
			vertical-align: bottom;
			margin: 0 15px;
		}
		.toggle-slide {
			position: absolute;
			top: 7px;
			right: 10px;
			cursor: pointer;
		}
		.shortcut {
			cursor: pointer;
		}
		.menu {
			float: left;
			background: #fff;
			overflow: hidden;
		}
		.menu .left {
			float: left;
			width: 200px;
			height: 100%;
			padding: 10px;
			border-right: 2px solid #999;
		}
		.menu input[type="text"] {
			box-sizing: content-box;
		}
		.render {
			overflow: hidden;
			background: #000;
		}
		.render pre {
			margin: 0;
			padding: 10px;
			background: #000;
			height: 100%;
		}
		.render pre code {
			margin: 0;
			padding: 0;
			height: 100%;
		}
		.content {
			clear: left;
			margin-top: 361px;
		}
		
		h1.title {
			text-align: center;
		}
		
		#timeline {
			max-width: 1020px;
			margin: 20px auto;
		}
		
		.block {
			width: 50%;
			position: relative;
		}
		
		.block .inner {
			background: #eee;
			border: 1px solid #aaa;
			padding: 10px;
			margin-bottom: 20px;
		}
		
		.block img {
			width: 100%;
			height: auto;
		}
		
		/* Personnal adds */
		.timeline-container .timeline-item.timeline-position-left .block .inner {
			margin-right: 10px;
		}
		.timeline-container .timeline-item.timeline-position-right .block .inner {
			margin-left: 10px;
		}
		
		.timeline-container .timeline-item.timeline-wide-item .block .inner {
			margin-right: 0;
			margin-left: 0;
		}
		
		.timeline-container.timeline-wide-format .timeline-item .block .inner {
			margin: 0 10px 20px;
		}
		
		.timeline-container.timeline-wide-format .timeline-item.timeline-wide-item .block .inner {
			margin: 0 10px 20px;
		}
		
		.timeline-container .timeline-central-line {
			margin-top: -20px;
			border-radius: 2px;
		}
		
		.timeline-container .timeline-item .timeline-item-arrow {
			width: 6;
			height: 10px;
			position: absolute;
			top: 50%;
			margin-top: 5px;
			background: #fff;
		}
		.timeline-container .timeline-item.timeline-position-left .timeline-item-arrow {
			background-image: url('img/corner-left.png');
			right: 6px;
		}
		.timeline-container .timeline-item.timeline-position-right .timeline-item-arrow {
			background-image: url('img/corner-right.png');
			left: 6px;
		}
		
		.timeline-container .timeline-item .timeline-item-close {
			position: absolute;
			top: 3px;
			cursor: pointer;
		}
		.timeline-container .timeline-item.timeline-position-left .timeline-item-close {
			right: 14px;
		}
		.timeline-container .timeline-item.timeline-position-right .timeline-item-close, .timeline-container .timeline-item.timeline-position-left.timeline-wide-item .timeline-item-close {
			right: 4px;
		}
